@import 'variables.scss';

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  background: #fff;
  color: #333;
  padding: 32px;
}

p {
  color: $color-text;
  padding: 0;
  margin: 0;
}

span {
  color: $color-text;
}

@media (max-width: 720px) {
  body {
    padding: 4px;
  }

  p {
    font-size: $mobile-font;
  }

  span {
    font-size: $mobile-font;
  }
}
