// COLORS

$color-gray: rgba(128, 128, 128, 0.3);
$color-orange: #ff7f00;
$color-blue: #00fff2;
$color-blue-2: #005bb5;
$color-blue-3: #004494;
$color-green: #54f12c;
$color-text: hsl(0, 7%, 9%);
$color-red: rgb(255, 167, 167);

// Z_INDEX

$z-loader: 10;

// GAP SIZE

$gap-1: 24px;

// SIZE

$mobile-font: 18px;
